<div class=""><%= link_to "Search CIN", new_history_path %></div>
<table>
	<tr>
		<th>CIN Search history</th>
	</tr>
	<% @history.each do |hh| %>
		<tr>
			<td><%= hh.cin %></td>
		</tr>
	<%end%>
</table>